.item-icon{
    background-image: url(../images/items.png);
}
.item-icon-rope{
    background-position:	-1008px 0px;
}
.item-icon-light{
    background-position:	-1008px 0px;
}
.item-icon-sword{
    background-position:	-1008px 0px;
}
.item-icon-amulet{
    background-position:	-1008px 0px;
}
.item-icon-key{
    background-position:	-1008px 0px;
}
